/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.main-visual{
  display: flex;
  flex-flow: column;
  width:100%;
}
.box1, .box2, .box3, .box4{
  height:200px;
  width:100%;
  background-repeat: no-repeat
}
.box1{
  background-image: url(box1.jpg);
  background-size: 100% auto;
}
.box2{
  background-image: url(box2.jpg);
  background-size: 100% auto;
}
.box3{
  background-image: url(box3.jpg);
  background-size: 100% auto;
}
.box4{
  background-image: url(box4.jpg);
  background-size: 100% auto;
}
